@import "colors";
@import "utilities";
@import "mixins";


*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  background-color: hslac($background, 1);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $font;
  color: hslac($grey, 1);
  @include flex-center();
}

.page-header {
  border: 1px solid hslac($grey, .5);
  width: 100%;
  max-width: $maxwidth;
  &-title {
    text-transform: uppercase;
    text-align: left;
    font-size: $fontsize;
    font-weight: bold;
    padding: 1rem 2rem;
  }
}

.App {
  width: 100%;
  max-width: $maxwidth;
  padding-top: 3rem;
  margin: 0 auto;
  text-align: left;

}

.active {
  color: white;
  background-color: hslac($lightblue, 1);
  border-color: hslac($lightblue, 1);
  &:hover {
    color: hslac($grey, 1);
    border-color: hslac($lightblue, 1);
  }
}

.category-button {
  @include flex-left;
  font-family: $font;
  text-transform: uppercase;
  font-size: $fontsize;
  color: hslac($grey, 1);
  background-color: hslac($lightgrey, 1);
  padding: 1rem;
  border-radius: 0;
  border-left: 1px solid hslac($grey, .5);
  border-right: 1px solid hslac($grey, .5);
  border-top: 1px solid hslac($grey, .5);
  border-bottom: 1px solid hslac($lightblue, 1);
  margin-top: 2rem;
  margin-right: .313rem;
  transition: ease-in-out .3s;
  &:hover {
    color: hslac($lightblue, 1);
    border-bottom: 1px solid hslac($grey, 1);
  }
}

.content-section {
  width: 100%;
  max-width: $maxwidth;
  border-left: 1px solid hslac($grey, .5);
  border-right: 1px solid hslac($grey, .5);
  border-top: 5px solid hslac($lightblue, 1);
  border-bottom: 1px solid hslac($grey, .5);
  &-title {
    padding-left: 2rem;
    text-transform: uppercase;
  }
  &-text {
    padding-left: 2rem;
  }
  &-list {
    padding-left: 3rem;
    &-link {
      color: hslac($lightblue, 1);
      transition: ease-in-out .2s;
      &:hover {
        color: hslac($grey, 1);
        text-decoration: none;
      }
    }
  }
}